*{box-sizing: border-box;
    background-color: grey;
}
.parallax{background-image: url(tree-736885_1280.jpg);
    
    padding: 200px;
    height: 500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -50px;
}
.parallax1{background-image: url(mahadev-dp02.jpg);
    outline-style: solid;
    outline-color: bisque;
    outline-width: 20px;
    margin: 20px;
    height: 500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -100px;
}
.parallax2{background-image: url(images.jpeg);
    outline-style: solid;
    outline-color: bisque;
    outline-width: 20px;
    margin: 50px;
    height: 500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -1300px;
}
.parallax3{background-image: url(holding-a-tree-in-a-ball-ecology-and-environment-concept-with-generative-ai-photo.jpg);
    outline-style: solid;
    outline-color: bisque;
    outline-width: 20px;
    margin: 50px;
    height: 500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -100px;
}
h1{
    height: 100px;
    text-align: center;
    padding-top: 25px;
}